@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: linear-gradient(1.37deg, #2F1359 2.49%, #6515DD 93.78%);
    /*background-color: #F3F5F8;*/
    padding-right: 0.6%;
    font-family: 'Rubik', sans-serif;
}

h1::selection, p::selection, a::selection, h2::selection {
    color: #5715ad;
    background: rgba(54, 253, 252, 0.45);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

h2 {
    font-weight: 500;
    font-size: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    color: #2F1359;
    font-weight: 500;
}

/*          ----------            video edit template          ----------          */
.sidebar {
    height: fit-content;
}

.miniSideBar {
    width: fit-content;
}

.sidebarCol {
    padding: 0 0;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.inner_remaining {
    background-color: white;
    flex-grow: 1;
}

.nav-item {
    background-color: white;
    padding: 4% 0;
}

.nav-item span {
    font-size: 0.9vw;
}

.nav-item svg {
    width: 1.5vw;
    height: auto;
}


.whiteBG {
    background-color: white;
}

.upNavUI {
    border-bottom-right-radius: 22pt 25pt;
}

.downNavUI {
    border-top-right-radius: 22pt 25pt;

}

.activeNav {
    background-image: url("../images/UnionBG2.svg");
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-left: -1%;
}


.svgFill {
    fill: #282828;
}

.svgFillActive {
    fill: white;
}

.svgFillHover {
    fill: #00B6DE;
}

.nav-link {
    color: #282828;
    font-weight: 500;
    font-size: 16px;
}

.nav-link:hover {
    color: #00B6DE;

}

.nav-linkHover {
    color: #00B6DE;
    font-weight: bold;
}

.active {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.rounded_right {
    border-bottom-right-radius: 50px;
    margin-bottom: 2%;
}


/* --- slideNav ----*/

.nav-item span {
    margin-right: 8px;
}

.greyBG {
    background-color: #F3F5F8;
}

.slidetextSize {
    font-size: 0.8vmax;
}

#minMenu {
    z-index: 2;
    position: absolute;
    bottom: 20%;

}

.minMenu_Big {
    margin-right: 90%;
}

.minMenu_mini {
    margin-right: 0.7%;
}


#minMenu:hover path {
    fill: #00A7CC;
    stroke: #00A7CC;
}


#minMenu:hover #minMenu_outline_elipse {
    fill: #00A7CC;
}

.link_notActive {
    cursor: not-allowed;

}

.mini_logo {
    padding-top: 75%;
    padding-bottom: 100%;
}

.mini_logo img {
    width: 200%;
    margin-right: -24px;
}

.sidebarCol_mini {
    width: 3.5vw;
}

.main_mini {
    width: 95vw;
    flex-grow: 1;

}

/*          ----------            edit Template Page          ----------          */

.tinyLottie {
    width: 10vw;
    height: 15vh;
    border: 1px solid rgba(0, 182, 222, 0.07);
    border-radius: 5%;
    padding: 1% 1%;
    margin: 1% 1%;
    display: inline-block;
    background-color: white;
}

.tinyLottie:hover {
    -webkit-box-shadow: 3px 13px 23px 0px rgba(182, 195, 199, 0.63);
    -moz-box-shadow: 3px 13px 23px 0px rgba(182, 195, 199, 0.63);
    box-shadow: 3px 13px 23px 0px rgba(182, 195, 199, 0.63);
    border-width: 2px !important;
    color: black;
    border-color: #00B6DE;
    font-weight: bold;
}


.tinyLottieDescription {
    color: #485F6E;
    text-align: center;
    margin-bottom: 8%;
    margin-top: -10%;
}

/*          ----------            Layout Template Page          ----------          */

/* --- Lottie player  ----*/
#mainContent {
    padding-right: 0;
}


/*testing*/
.main-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.animation-container {
    align-self: center;
    display: flex;
    flex-direction: column;
}

#slidesArea {
    background: white;
    /* box-shadow: 0px 0px 10px rgba(112, 32, 188, 0.08);*/
    position: relative;
}


/*          ----------            editColor Template Page          ----------          */
.color-form {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;

}

.color-form-container {
    display: flex;
    height: 60%;
    width: 50%;
    align-items: center;
}

.color-submit-btn {
    margin-top: 10%;
}

.text-form {
    height: 100%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

input[type=button], input[type=submit], .primaryBTN {
    background-color: #6515DD;
    border: solid 0.125rem #6515DD;
    color: white;
    padding: 0.4rem 0.75rem;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 3rem 0;
}

input[type=button]:hover, input[type=submit]:hover, .primaryBTN:hover {
    background-color: #00B6DE;
    border: solid 0.125rem #00A7CC;
    box-shadow: 5px 6px 12px rgba(0, 83, 101, 0.12);
}

.xxx {
    display: block;
    width: max-content;
    margin-left: 5%;
}

.input-group-prepend {
    width: 40%;
}

.input-group-text {
    width: 100%;
}