@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    height: 100%;
    margin-top: -2px;
    margin-bottom: -2px;
    background-color: #020208;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;

}

/*          buttons            */
.icon-btn {
    vertical-align: middle;
    width: 1.4rem;
    height: 1.4rem;
}

.icon-big{
    width: 3rem;
    height: 3rem;
}

#canvasRecordContainer {
    position: fixed;
    top: 100%;
    width: 1024px;
    height: 576px;
    background-color: green;
}

.primaryBTN {
    background-color: #6515DD;
    border: solid 0.125rem #6515DD;
    color: white;

    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.primaryBTN:hover:enabled {
    background-color: #00B6DE;
    border: solid 0.125rem #00A7CC;
    /* box-shadow: 5px 6px 12px rgba(0, 83, 101, 0.12); */
    color: white;

    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}


#container {
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    width: auto;
}

.frame-container {
    width: 100%;
    height: 100%;
}

.text-container {
    height: 50%;
    text-align: right;
    margin: .5rem .5rem .5rem 1rem;
}

#mainWrapper {
    margin: auto;
}

#framesArea {
    width: 85%;
    overflow: hidden;
}

h1 {
    font-size: 1rem;
    margin-top: 1rem;
    padding: 1rem 0;
    padding-right: 0.5rem;
    color: #454545;
    margin-bottom: 0;
    font-weight: normal;
}

.slide-text {
    color: #c0c0c0;
    background-color: black;
    padding: 0.75rem 1rem;
    background-color: black;
}

.lottie-small {
    background-color: black;
    border: solid 2px rgba(17, 17, 17, 0.5);
}

/*.My_border-dark{*/

/*}*/

.divider {
    border-left: 1px solid #343a40;
}

.dark_bg {
    background-color: rgba(4, 3, 12, 0.5);
}

#video {
    position: absolute;
    width: 100%;
    height: 100%;
}

#animationsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.scene-display-wrapper {
    height: 80vh;
}

.lottie-large {
    width: 100%;
    height: 80vh;
}

.top-row-left {
    height: 80vh;
}

.bottom-row-left {
    height: 20vh;
}

.btn-group .btn {
    border-left: rgba(38, 42, 46, 0.3) 2px solid;
}

/*          ----    bounceIn    -----       */
@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;

}

.animated_slideInRight {
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.vjs-icon-av-perm:before {
    font-family: inherit;
    content: 'פתח מצלמה';
    font-size: 1.6rem !important;
    line-height: 1.5rem !important;
    vertical-align: text-top;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 30%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

#uploadModal {
    top: 5%;
}