{% extends "layout.html" %}
{% block head %}

{% endblock %}

{% block content %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<h2>בחירה מתבניות המותג</h2>
<p>לא קיימות תבניות</p>

<h2>בחירה מתבניות כלליות</h2>


<!-- For loop logic of jinja template -->
{% for n in lottiePlayersArray %}
<div class=" tinyLottie">
    <lottie-player class="tinyLottiePlayer" src={{lottiePlayersArrayPath}}{{n[0]}} background="transparent" speed="1"
                   style="" hover loop>
    </lottie-player>
    <p class="tinyLottieDescription">{{n[1]}}</p>

</div>
{% endfor %}

{% endblock %}
