{% extends "layout.html" %}
{% block head %}
{% endblock %}
  
{% block content %}
<link href="../static/modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css" rel="stylesheet">
<div class="col-12" >
    <div id="content" class="col-12">
    </div>
    <button id="dltFrameBtn" class="btn btn-primary color-submit-btn">מחק שקף</button>
</div>

{% endblock %}

{% block scripts %}
<script src="../static/modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
<script src="../static/scripts/Script_editContent.js"></script>
{% endblock %}