{% extends "layout.html" %}
{% block head %}
{% endblock %}


{% block content %}

<div style="margin-bottom: 4rem"></div>
<div class="color-form-container">

    <form lang="he" dir="rtl" action="homePage" method="post" class="d-flex">
        <div class="form-group xxx">
            <div class="form-group ">
                <label for="existUserEmail">משתמש קיים-מייל</label>
                <input type="text" id="existUserEmail" name="existUserEmail"
                       class="form-control">
            </div>
            <div class="form-group ">
                <label for="existUserPass">משתמש קיים-סיסמא</label>
                <input type="password" id="existUserPass" name="existUserPass"
                       class="form-control">
            </div>
            <div class="form-group ">
                <input type="submit" name="submit_button" value="log_in" id="log_in"
                       class="btn btn-primary color-submit-btn" value="התחלת עבודה"/>
            </div>
            <div class="alert alert-danger" role="alert">
                {{alertMessage}}
            </div>
        </div>


        <div class="form-group xxx">
            <div class="form-group ">
                <label for="add_color">add_color</label>
                <input type="color" id="add_color" name="add_color" class="form-control">
            </div>

            <div class="form-group  ">
                <label for="kind">kind</label>
                <input type="text" name="kind" id="kind">
                <input type="submit" name="submit_button" id="submit_new_Color" value="submit_new_Color"
                       class="btn btn-primary color-submit-btn" value="שנה"/>
            </div>
        </div>

        <div class="form-group xxx ">

            <div class="form-group ">
                <label for="kind">search_palette_id</label>
                <input type="text" name="search_palette_id" id="search_palette_id">
                <div class="form-group ">
                </div>

                <input type="submit" name="submit_button" id="submit_search_palette_id" value="submit_search_palette_id"
                       class="btn btn-primary color-submit-btn" value="שנה"/>
            </div>
            <div class="form-group ">
                <label for="kind">palette_name</label>
                <input type="text" name="palette_name" id="palette_name" value="{{palette_name}}">
            </div>

            <div class="form-group ">
                <label for="add_color">color</label>

                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">primary</div>
                        </div>
                        <input type="color" id="color1" name="color1" value="{{color1}}" class="form-control">
                    </div>
                </div>
                   {% for n in my_colors %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">{{n[1]}}</div>
                        </div>
                <input type="color" id="color{{n}}" name="color{{n}}" value="{{n[0]}}" class="form-control">
                    </div>
                        {% endfor %}

            </div>


        </div>


    </form>
</div>

{% endblock %}
