<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} -Ed video</title>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
          integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/content/site.css"/>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {% block head %}{% endblock %}
</head>

<body>
<nav class="navbar sticky-top  flex-md-nowrap p-0 " style="height: 5vh; align-items:normal">
    <a class="navbar-brand col-sm-3 col-md-1 mr-0 pt-2  whiteBG" href="home">
        <img src="../static/images/logo.svg" style="width:100%;"/>
       </a>
    <div class="greyBG">
        <h1 id="pageTitleH" class="mr-auto pl-4 pt-2   ">{{ title }}</h1>

    </div>
</nav>

<div class="container-fluid">

    <div class="row" style="height:80vh">
        <div class="sidebarCol col-md-1 ml-sm-auto col-lg-1">
            <nav class="sidebar slidetextSize  ">
                <ul class="nav flex-column">
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="editContent">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svgFill" height="24" viewBox="0 0 24 24"
                                 width="24">
                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                <path d="M5 5.5C5 6.33 5.67 7 6.5 7h4v10.5c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5V7h4c.83 0 1.5-.67 1.5-1.5S18.33 4 17.5 4h-11C5.67 4 5 4.67 5 5.5z"/>
                            </svg>
                            <span>תוכן</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  link_notActive" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svgFill" height="24" viewBox="0 0 24 24"
                                 width="24">
                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                <path d="M7 6.12c-.43-.35-1.06-.3-1.41.13l-4.24 5.11c-.31.37-.31.91 0 1.28l4.24 5.11c.35.43.98.48 1.41.13.43-.35.48-.98.13-1.41L3.42 12l3.71-4.47c.35-.43.3-1.06-.13-1.41zM7 13h2v-2H7v2zm10-2h-2v2h2v-2zm-6 2h2v-2h-2v2zm6-6.88c-.43.35-.48.98-.13 1.41L20.58 12l-3.71 4.47c-.35.43-.29 1.06.13 1.41.43.35 1.06.3 1.41-.13l4.24-5.11c.31-.37.31-.91 0-1.28l-4.24-5.11c-.35-.42-.99-.48-1.41-.13z"/>
                            </svg>
                            גודל
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link link_notActive" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svgFill" height="24" viewBox="0 0 24 24"
                                 width="24">
                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                <circle cx="7" cy="14" r="3"/>
                                <circle cx="11" cy="6" r="3"/>
                                <circle cx="16.6" cy="17.6" r="3"/>
                            </svg>
                            אנימציה
                        </a>
                    </li>
                    <li class="nav-item">
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="editColor">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svgFill" height="24" viewBox="0 0 24 24"
                                 width="24">
                                <path d="M0 0h24v24H0z" fill="none"/>
                                <path d="M12 3c-4.97 0-9 4.03-9 9s4.03 9 9 9c.83 0 1.5-.67 1.5-1.5 0-.39-.15-.74-.39-1.01-.23-.26-.38-.61-.38-.99 0-.83.67-1.5 1.5-1.5H16c2.76 0 5-2.24 5-5 0-4.42-4.03-8-9-8zm-5.5 9c-.83 0-1.5-.67-1.5-1.5S5.67 9 6.5 9 8 9.67 8 10.5 7.33 12 6.5 12zm3-4C8.67 8 8 7.33 8 6.5S8.67 5 9.5 5s1.5.67 1.5 1.5S10.33 8 9.5 8zm5 0c-.83 0-1.5-.67-1.5-1.5S13.67 5 14.5 5s1.5.67 1.5 1.5S15.33 8 14.5 8zm3 4c-.83 0-1.5-.67-1.5-1.5S16.67 9 17.5 9s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/>
                            </svg>
                            צבע
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="editTemplate">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svgFill" height="24" viewBox="0 0 24 24"
                                 width="24">
                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                <path d="M4 13h6c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1zm0 8h6c.55 0 1-.45 1-1v-4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1zm10 0h6c.55 0 1-.45 1-1v-8c0-.55-.45-1-1-1h-6c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1zM13 4v4c0 .55.45 1 1 1h6c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1h-6c-.55 0-1 .45-1 1z"/>
                            </svg>
                            תבנית
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link_notActive" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svgFill" height="24" viewBox="0 0 24 24"
                                 width="24">
                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
                            </svg>
                            הגדרות
                        </a>
                    </li>
                    <li class="nav-item">
                    </li>
                </ul>
            </nav>
            <div class="inner_remaining">
<!--                <svg id="minMenu" width="29" height="28" viewBox="0 0 29 28" fill="none"-->
<!--                     xmlns="http://www.w3.org/2000/svg">-->
<!--                    <ellipse cx="14.5" cy="14" rx="14.5" ry="14" transform="rotate(-180 14.5 14)" fill="#282828"/>-->
<!--                    <ellipse cx="15.5" cy="14" rx="13.5" ry="13" transform="rotate(-180 15.5 14)" fill="white"/>-->
<!--                    <path d="M10.7582 20.2266L16.8584 14.8699L17.2863 14.4941L16.8584 14.1184L10.7582 8.76172L12.0099 7.66503L19.8038 14.4941L12.0099 21.3233L10.7582 20.2266Z"-->
<!--                          fill="#282828" stroke="#282828"/>-->
<!--                </svg>-->

            </div>
        </div>

        <main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-4 greyBG ">
            <div class="overflow-auto main-container">
                <div id="mainContent" class="col-7 float-left pt-4">
                    {% block content %}{% endblock %}
                </div>

                <div class="col-5 animation-container">
                    <lottie-player src="{{anim_path}}" background="transparent" controls speed="1" autoplay count="1"
                                   class="lottiePlayer" id="mainAnimation">
                    </lottie-player>
                </div>

            </div>
        </main>
    </div>
    <div  id="slidesArea"  class="flex-md-nowrap p-0 row"  style="height:15vh;">
        <p>slides area</p>
    </div>
</div>

<script src="../static/scripts/JavaScript.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js"
        integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k"
        crossorigin="anonymous"></script>
<script src="../static/scripts/JavaScript.js"></script>

{% block scripts %}{% endblock %}

</body>
</html>
