<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} -OneShot</title>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
          integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/content/site.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.8/lottie.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {% block head %}{% endblock %}
</head>

<body>
<div class="container-fluid">

    <div class="row form-area" style="height:85vh">
        <div class="sidebarCol col-md-1 ml-sm-auto col-lg-1">
            <a id="logo_herf" class="whiteBG" href="about">
                <img id="logo" src="../static/images/logo.png" style="width: 32%; margin-right: 32%; top: 2%;"/>
            </a>
            <nav class="sidebar slidetextSize">
                <ul class="nav flex-column">
                    <li class="nav-item emptyNav">
                    </li>
                    <li class="nav-item">
                        <a id="temp_empty" class="nav-link " href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svgFill" height="24" viewBox="0 0 24 24"
                                 width="24">
                                <path d="M4 7.2V8.8H12V7.2H4ZM8 0C3.584 0 0 3.584 0 8C0 12.416 3.584 16 8 16C12.416 16 16 12.416 16 8C16 3.584 12.416 0 8 0ZM8 14.4C4.472 14.4 1.6 11.528 1.6 8C1.6 4.472 4.472 1.6 8 1.6C11.528 1.6 14.4 4.472 14.4 8C14.4 11.528 11.528 14.4 8 14.4Z"/>
                            </svg>
                            <span>ריק</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="temp_intro" class="nav-link " href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svgFill" height="24" viewBox="0 0 24 24"
                                 width="24">
                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                <path d="M3.99 6.75L16 6.75L16 4.25L3.99 4.25L3.99 0.500001L-4.37114e-07 5.5L3.99 10.5L3.99 6.75Z" />
                            </svg>
                            <span>פתיח</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a id="temp_list" class="nav-link " href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svgFill" height="24" viewBox="0 0 24 24"
                                 width="24">
                                <path d="M14.7027 7.7C15.4205 7.7 16 7.164 16 6.5C16 5.836 15.4205 5.3 14.7027 5.3C13.9849 5.3 13.4054 5.836 13.4054 6.5C13.4054 7.164 13.9849 7.7 14.7027 7.7ZM14.7027 12.5C15.4205 12.5 16 11.964 16 11.3C16 10.636 15.4205 10.1 14.7027 10.1C13.9849 10.1 13.4054 10.636 13.4054 11.3C13.4054 11.964 13.9849 12.5 14.7027 12.5ZM14.7027 2.9C15.4205 2.9 16 2.356 16 1.7C16 1.044 15.4119 0.5 14.7027 0.5C13.9935 0.5 13.4054 1.044 13.4054 1.7C13.4054 2.356 13.9849 2.9 14.7027 2.9ZM12.1081 0.899999L1.0141e-06 0.899998L8.74228e-07 2.5L12.1081 2.5L12.1081 0.899999ZM12.1081 5.7L5.94475e-07 5.7L4.54598e-07 7.3L12.1081 7.3L12.1081 5.7ZM12.1081 12.1L12.1081 10.5L1.74846e-07 10.5L3.49691e-08 12.1L12.1081 12.1Z"/>
                            </svg>
                            <span>רשימה</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a  id="temp_text" class="nav-link " href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svgFill" height="24" viewBox="0 0 24 24"
                                 width="24">
                                <path d="M0 0.5V2.9H4.21053V12.5H6.73684V2.9H10.9474V0.5H0ZM16 4.5H8.42105V6.9H10.9474V12.5H13.4737V6.9H16V4.5Z" />
                            </svg>
                            <span>טקסט</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a id="temp_image" class="nav-link " href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svgFill" height="24" viewBox="0 0 24 24"
                                 width="24">
                                <path d="M16 14.7222V2.27778C16 1.3 15.2 0.5 14.2222 0.5H1.77778C0.8 0.5 0 1.3 0 2.27778V14.7222C0 15.7 0.8 16.5 1.77778 16.5H14.2222C15.2 16.5 16 15.7 16 14.7222ZM4.88889 9.83333L7.11111 12.5089L10.2222 8.5L14.2222 13.8333H1.77778L4.88889 9.83333Z" />                            </svg>
                            <span>תמונה</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  id="temp_ending" class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svgFill" height="24" viewBox="0 0 24 24"
                                 width="24">
                                <path d="M12.01 4.25H0V6.75H12.01V10.5L16 5.5L12.01 0.5V4.25Z" />
                            </svg>
                            <span>סיום</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a  id="dltFrameBtn" class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svgFill" height="24" viewBox="0 0 24 24"
                                 width="24">
                                <path d="M1.66672 14.7222C1.66672 15.7 2.46672 16.5 3.4445 16.5H10.5556C11.5334 16.5 12.3334 15.7 12.3334 14.7222V4.05556H1.66672V14.7222ZM3.4445 5.83333H10.5556V14.7222H3.4445V5.83333ZM10.1112 1.38889L9.22228 0.5H4.77783L3.88894 1.38889H0.777832V3.16667H13.2223V1.38889H10.1112Z"/>                            </svg>
                            </svg>
                            <span>מחיקה</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="inner_remaining">
                <svg id="minMenu" class="minMenu_Big" width="30" height="30" viewBox="0 0 30 30" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <ellipse id="minMenu_outline_elipse" cx="16" cy="15" rx="14" ry="14" transform="rotate(-180 16 15)"
                             fill="#F7F7F7"/>
                    <circle cx="16" cy="15" r="13" transform="rotate(-180 16 15)" fill="white"/>
                    <path d="M11.7582 21.2385L17.8584 15.8818L18.2863 15.5061L17.8584 15.1304L11.7582 9.77368L13.0099 8.67699L20.8038 15.5061L13.0099 22.3352L11.7582 21.2385Z"
                          fill="#828282" stroke="#828282"/>

                </svg>
            </div>
        </div>

        <main role="main" class="col-md-11 ml-sm-auto col-lg-11 pl-5 greyBG ">
            <div class="overflow-auto main-container">
                <div id="mainContent" class="col-6 float-left ">
                    <h1 id="pageTitleH" class="mr-auto pt-1 pb-3 ">{{ title }}</h1>
                    {% block content %}{% endblock %}
                </div>

                <div class="col-6 animation-container">
                    <div  class="mr-auto pt-1 pb-4 "></div>
                    <div class="spinner-wrapper invisible align-items-center d-flex justify-content-center" id="animSpinner">
                        <div class="spinner-border text-info" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <lottie-player src="{{anim_path}}" background="transparent" controls speed="1" autoplay count="1"
                                   class="lottiePlayer mainAnimation" id="mainAnimation" style="width: 94%">
                    </lottie-player>
                    <!--                    <div class="lottie lottiePlayer" id="mainAnimation" data-animation-path="../static/content/animations/temp1_anim3.json" data-anim-loop="true"></div>-->
                    <div id="h3_kindAnim">
                        <div>
                            <h4>בחירה מאנימציות המותג</h4>
                            <!--  data-toggle="modal" data-target="#modal" -->
                              <button id="button_switch" type="button" class="btn secondaryBtn lit_sec"  >בחירה מכלל התבניות</button>
                          </div>
                      </div>
                      <div id="kindAnimationsArea" >

                      </div>
                  </div>

              </div>
          </main>
      </div>
    <div id="frames_Area" class="row" style="height:15vh;" style="overflow-x: scroll">
      <div id="frames_Area_container" class="row" style="overflow-x: scroll"  uk-sortable>
      </div>
        <div id="newFrameBtn_area" class="d-flex align-items-center" style="height: inherit;"></div>
    </div>

  <!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel"></h2>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn secondaryBtn " data-dismiss="modal">סגירה</button>
                <button id="modal_main_btn" type="button" class="btn primaryBTN">בחירה</button>
            </div>
        </div>
    </div>

</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js"
        integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
<script src="../static/scripts/JavaScript.js" type="text/javascript"></script>

{% block scripts %}{% endblock %}

</body>
</html>



