<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
        integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link rel="stylesheet" href="static\content\login.css">
</head>

<body>
    <div  class="container">
        <div class="row h-100">
            <div class="col-6 d-flex mr-4">
                <div class="align-self-end container d-flex flex-column  login-form-wrapper">
                    <ul class="nav row" id="myTab" role="tablist">
                        <li class="h-100 nav-item col custom-nav-item">
                            <a class="h-100 nav-link active text-center" id="login-tab" data-toggle="tab" href="#login"
                                role="tab" aria-controls="login" aria-selected="true">משתמש קיים</a>
                        </li>
                        <li class="nav-item col h-100 .custom-nav-item">
                            <a class="h-100 nav-link text-center" id="register-tab" data-toggle="tab" href="#register"
                                role="tab" aria-controls="register" aria-selected="false">יצירת משתמש חדש</a>
                        </li>
                    </ul>

                    <div class="align-self-center w-75 tab-content pt-3">
                        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                        </div>
                        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">

                        </div>
                    </div>
                </div>
            </div>
            <div class="align-self-center col ml-4">
                <img class="w-100" src="static\images\undraw_happy_announcement_ac67.svg">
            </div>
        </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js"
        integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="static\scripts\login.js"></script>
</body>

</html>