<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} -OneShot</title>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
          integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/content/site.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.8/lottie.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {% block head %}{% endblock %}
</head>

<body>
<div class="container-fluid">

    <div class="row form-area" style="height:100vh">
        <div class="sidebarCol col-md-1 ml-sm-auto col-lg-1">
            <a id="logo_herf" class="whiteBG pt-3" href="about">
                <img id="logo" src="../static/images/logo.png" style="width: 32%; margin-right: 32%; top: 2%;"/>
            </a>
            {% block sideNav %}{% endblock %}
            <div class="inner_remaining">
                <svg id="minMenu" class="minMenu_Big" width="30" height="30" viewBox="0 0 30 30" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <ellipse id="minMenu_outline_elipse" cx="16" cy="15" rx="14" ry="14" transform="rotate(-180 16 15)"
                             fill="#F7F7F7"/>
                    <circle cx="16" cy="15" r="13" transform="rotate(-180 16 15)" fill="white"/>
                    <path d="M11.7582 21.2385L17.8584 15.8818L18.2863 15.5061L17.8584 15.1304L11.7582 9.77368L13.0099 8.67699L20.8038 15.5061L13.0099 22.3352L11.7582 21.2385Z"
                          fill="#828282" stroke="#828282"/>
                </svg>
                <div id="user_area_sidenav" class="d-flex justify-content-start user_area_sidenav"></div>
            </div>
        </div>

        <main role="main" class="col-md-11 ml-sm-auto col-lg-11 pl-5 greyBG ">
            <div class="overflow-auto main-container">
                    {% block content %}{% endblock %}
            </div>
        </main>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel"></h2>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button id="modalBtn" type="button" class="btn secondaryBtn " data-dismiss="modal">סגירה</button>
                    <button id="modal_main_btn" type="button" class="btn primaryBTN">בחירה</button>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js"
        integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
<script src="../static/scripts/JavaScript.js" type="text/javascript"></script>

{% block scripts %}{% endblock %}

</body>
</html>



