body {

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/*          ----------            video edit template          ----------          */
#pageTitleH {
    font-size: 1.7rem;
}

.sideNavUl {
    padding-top: 25%;
}

.svgFill {
    fill: white;
}

.svgFillActive {
    fill: #F87C2C;
}

.active {
    color: #F87C2C;
    font-weight: bold;
}

.rounded_right {
    border-bottom-right-radius: 50px;
    margin-bottom: 2%;
}

/* --- slideNav ----*/
.slidetextSize {
    font-size: 0.8vmax;
}

#minMenu {
    float: left;
    z-index: 2000;
    margin-left: -29px;
}

/*          ----------            edit Template Page          ----------          */

#temp1, #temp2 {
    width: 35%;
    height: 35%;
    border: 1px solid #F87C2C;
    border-radius: 5%;
    padding: 1% 1%;
    margin: 1% 1%;
    display: inline-block;
}


/*          ----------            Layout Template Page          ----------          */

/* --- Lottie player  ----*/

/*testing*/
.main-container{
    height: 100%;
    width: 100%;
    display: flex;
}

.animation-container{
    align-self: center;
    display: flex;
    flex-direction: column;
}
