{% extends "layout.html" %}

{% block content %}

    <h1>Flask</h1>
    <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>

    <form action='/success' method="POST">
        <label for="username">USERNAME:</label>
        <input type="text" name="username" id="username" size="15">
        <input type="submit" name="submit" id="submit" />
    </form>
<!--<script src="../static/node_modules/@lottiefiles/lottie-player/dist/lottie-player.js"></script>-->

{% endblock %}
