{% extends "layout.html" %}

{% block content %}

<div class="col-7 float-left">
    <h1>Flask</h1>
    <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="col-4 float-left" id="bm">

</div>

<form action='/success' method="POST">
    <label for="username">USERNAME:</label>
    <input type="text" name="username" id="username" size="15">
    <input type="submit" name="submit" id="submit" />
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.6/lottie.min.js"></script>
<script src="../static/scripts/JavaScript.js"></script>

<!--<script src="../static/node_modules/@lottiefiles/lottie-player/dist/lottie-player.js"></script>-->

{% endblock %}
