{% extends "layout.html" %}
{% block head %}

{% endblock %}
{% block content %}

<div>
    <form action="editColor" method="post">
        <div class="form-group">
            <label for="animColor">בחר צבע רקע לאנימציה</label>
            <input type="color" id="animColor" name="animColor"
                   value="#e66465" class="form-control">
            <input type="submit" name="submit" id="submitColor" class="btn btn-primary" value="שנה"/>
        </div>
    </form>
</div>
{% endblock %}
