{% extends "layout.html" %}
{% block head %}

{% endblock %}

{% block content %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<h2>בחירה מתבניות המותג</h2>
<p>לא קיימות תבניות</p>

<h2>בחירה מתבניות כלליות</h2>

<lottie-player  class="tinyLottie" src="../static/content/temp1.json" background="transparent" id="temp1" speed="1"
               style="width: 300px; height: 300px;" hover loop class="animation-template">
</lottie-player>
<lottie-player class="tinyLottie" src="../static/content/temp2.json" background="transparent" id="temp2" speed="1"
               style="width: 300px; height: 300px;" hover loop class="animation-template">
</lottie-player>

{% endblock %}
